{{define "header"}}
<link rel="stylesheet" href="/assets/css/header.css">
<div class="page-header">
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/createqr">Creation QR</a></li>
            <li><a href="/registerqr">Scan QR </a></li>
            <li><a href="/listeQR">Mes QR</a></li>
                <li><a href="/Profile">Profile</a></li>
                <!-- <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li> -->
        </ul>
    </div>
</div>
<!-- <hr class="line"> -->
{{end}}