<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/profile.css">
    <title>Profile</title>
</head>
<body>
    {{template "header" .}}
    <div class="profile-page">
        <h1>Profile</h1>
        <h2>Informations</h2>
        <p>Nom: {{.Name}}</p>
        <p>Email: {{.Email}}</p>
        <p>Password lenght: {{.Password}}</p>
    </div>
    {{template "footer" .}}
</body>
</html>