<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/result.css">
    <link rel="shortcut icon" href="./assets/img/github.png" type="image/x-icon">
    <title> QR's legion</title>
</head>
<body>
    {{block "header" .}}
    {{end}}
    <form action="/" id = "form" method="post">
        <input type="text">
    </form>
    <h2> Votre QRCode :</h2>
    <a href="./assets/img/image.png" download>
        <img src="./assets/img/image.png" alt = 'QR code'>
    </a>
    <p> Clicker sur QR code pour le télécharger </p>
{{block "footer" .}}
{{end}}
</body>
<script src="./assets/js/result.js"></script>
</html>