<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/registerqr.css">

    <title>Document</title>
</head>
<body>
    {{block "header" .}}
    {{end}}
    <div class="qr-register">
        <h1>Déposer vos QRcode</h1>
        <form action="/upload_file" method="post" enctype="multipart/form-data">
                <div class="download">
                <input type="file" name="file" id="file">
                <input type="submit" value="Envoyer">
            </div>
            </form>
    </div>
    {{block "footer" .}}
    {{end}}
</body>
</html>