.galerie-page{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content:center;
}
h1{
    text-align: center;
    margin-top: 20px;
    color: crimson;
}
.grid-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}